* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Barlow Semi Condensed';
    font-size: 10px;
    line-height: 1.3;
    background: hsl(0, 0%, 81%);
}

h1 {
    visibility: hidden;
}

#testimonials {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    margin: 3em auto;
    max-width: 580px;
    padding: 3em;
    
}

.testimonial-container {
    padding: 2em;
    padding-bottom: 3em;
    border-radius: 0.5em;
    border: none;
}

.testimonial-container--moderate-violet {
    background: hsl(263, 55%, 52%);
    color: #fff;
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 12%;  
}

.testimonial-container--Very-dark-grayish-blue {
    background: hsl(217, 19%, 35%);
    color: #fff;
}

.testimonial-container--white {
    background: #fff;
    color: hsl(217, 19%, 35%);     
}

.testimonial-container--Very-dark-blackish-blue {
    background: hsl(219, 29%, 14%);
    color: #fff;
}

.user-info {
   display: flex;
   justify-content: flex-start;
   align-items: center;   
}

.user > img{
    border-radius: 50% ;
    border: 0.8px solid #ffffff87;
    width: 60%;
}

.user-role {
    color: hsla(0, 0%, 100%, 0.5);   
}

.user-review p:nth-child(1) {
    font-size: 1.3rem;
    margin-top: 0.6em;
}

.user-review p:nth-child(2) {
    color: rgba(255, 255, 255, 0.70);
    margin-top: 1.5em;   
}

.testimonial-container--white .user-role {
    color: hsla(0, 2%, 32%, 0.50);    
}

.testimonial-container--white .user-review p:nth-child(2) {
    color: hsla(217, 19%, 35%, 0.70);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}


@media(min-width: 980px) {
    #testimonials {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        margin: 0 auto;
        max-width: 1080px;
        grid-template-areas: 
        'one one two five'
        'three four four five'   
    }

    .testimonial-container:nth-child(1) {
        grid-area: one;
    }

    .testimonial-container:nth-child(2) {
        grid-area: two;
    }

    .testimonial-container:nth-child(3) {
        grid-area: three;
    }

    .testimonial-container:nth-child(4) {
        grid-area: four;
    }

    .testimonial-container:nth-child(5) {
        grid-area: five;
    }

/*
    .testimonial-container:nth-child(5){
        grid-column: 4/5;
        grid-row: 1/3;
    }

    .testimonial-container:nth-child(1) {
        grid-column: 1/3;
    }

    .testimonial-container:nth-child(3) {
        grid-row: 2/3;
    }

    .testimonial-container:nth-child(4) {
        grid-column: 2/4;
    } */
}
